#gallery {
  width: 300px;
  overflow: hidden; /* 화면 가로 크기를 넘어가면 숨김처림 */
  position: relative; /* 위치 기준점 설정*/
}

.slide-wrap {
  width: 9999px;
  position: relative;
  display: flex;
}

.slide {
  width: 300px;
}

.slide img {
  width: 100%;
  display: block;
}

button {
  margin: 10px 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

button:hover {
  background-color: #333;
  color: white;
}
